<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block pagetitle %}{{ g.bot_name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- needed for mobile devices, sets the viewport to the device's width -->
        <meta name="author" content="J. Random Dude">

        {% block styles %}{% endblock %}
        <!-- html5shiv is an HTML5 JavaScript shim for IE to recognise and style the HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
        {% block content %}{% endblock %}
        {% endblock body %}
        {% block scripts %}{% endblock %}
    </body>
</html>
