[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marvinbot = {editable = true, path = "."}
python-telegram-bot = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
